@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #FFFFFF;
  --black: #111217;
  --dark-gray: #23252F;
  --light-gray: #333333;
  --primary-color: #020122;
  --secondary-color: #F4442E;

  --font: 400 16px/20px var(--ff);
  --ff: "Noto Sans", sans-serif;

  --base-spacer: 15px;
  --spacer0-5: calc(var(--base-spacer)*0.5);
  --spacer1-5: calc(var(--base-spacer)*1.5);
  --spacer2: calc(var(--base-spacer)*2);
  --spacer2-5: calc(var(--base-spacer)*2.5);
  --spacer3: calc(var(--base-spacer)*3);
  --spacer4: calc(var(--base-spacer)*4);
  --spacer5: calc(var(--base-spacer)*5);
  --spacer6: calc(var(--base-spacer)*6);
  --spacer7: calc(var(--base-spacer)*7);
  --base-large-spacer: 120px;
  --large-spacer2: calc(var(--base-large-spacer)*2);
  --large-spacer2-5: calc(var(--base-large-spacer)*2.5);
  --large-spacer3: calc(var(--base-large-spacer)*3);
  --large-spacer4: calc(var(--base-large-spacer)*4);
  --large-spacer5: calc(var(--base-large-spacer)*5);
  --large-spacer6: calc(var(--base-large-spacer)*6);

  --border-radius: 12px;
  --border-radius2: calc(var(--border-radius)*2);
}

h2 {
  font: 500 28px/30px var(--ff);
  margin: var(--spacer0-5) 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: var(--font);
  color: var(--black);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: minmax(350px, auto);
}

.body-section {
  padding: var(--spacer6) 0;
}

header {
  background-color: var(--primary-color);
}

.personal-info {
  display: flex;
  gap: var(--spacer2);
  margin: 0 var(--spacer6);
}

.personal-info > img {
  width: var(--large-spacer2-5);
  height: var(--large-spacer2-5);
  border-radius: 50%;

  transform: translateY(-50px);
}

.personal-info .about-me {
  background-color: var(--white);
  max-width: var(--large-spacer6);
  padding: var(--spacer2);
  border-left: 12px solid var(--secondary-color);
  border-radius: var(--border-radius);
}

.personal-info .about-me p {
  color: var(--light-gray);
  font: 400 20px/28px var(--ff);
}

.personal-info .about-me .social-links {
  display: flex;
  justify-content: end;
  gap: var(--spacer2);
  margin-top: var(--spacer3);
}

.personal-info .about-me .social-links > a {
  transition: all 250ms;
}

.personal-info .about-me .social-links > a:hover {
  transform-origin: center;
  transform: scale(1.2);
}

.personal-info .about-me .social-links > a svg {
  width: var(--spacer2);
}

.personal-work {

}