@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --white: #FFFFFF;
  --black: #111217;
  --dark-gray: #23252F;
  --light-gray: #333333;
  --primary-color: #020122;
  --secondary-color: #fc9e4f;
  --secondary-color2: #edd382;

  --font: 400 16px/20px var(--ff);
  --font-large:  400 18px/26px var(--ff);
  --ff: "Noto Sans", sans-serif;

  --base-spacer: 15px;
  --spacer0-3: calc(var(--base-spacer)*0.3);
  --spacer0-5: calc(var(--base-spacer)*0.5);
  --spacer1-5: calc(var(--base-spacer)*1.5);
  --spacer2: calc(var(--base-spacer)*2);
  --spacer2-5: calc(var(--base-spacer)*2.5);
  --spacer3: calc(var(--base-spacer)*3);
  --spacer4: calc(var(--base-spacer)*4);
  --spacer5: calc(var(--base-spacer)*5);
  --spacer6: calc(var(--base-spacer)*6);
  --spacer7: calc(var(--base-spacer)*7);
  --base-large-spacer: 120px;
  --large-spacer1-5: calc(var(--base-large-spacer)*1.5);
  --large-spacer2: calc(var(--base-large-spacer)*2);
  --large-spacer2-5: calc(var(--base-large-spacer)*2.5);
  --large-spacer3: calc(var(--base-large-spacer)*3);
  --large-spacer4: calc(var(--base-large-spacer)*4);
  --large-spacer5: calc(var(--base-large-spacer)*5);
  --large-spacer6: calc(var(--base-large-spacer)*6);

  --border-radius: 8px;
  --border-radius2: calc(var(--border-radius)*2);
}

h2 {
  font: 500 28px/30px var(--ff);
  margin: var(--spacer0-5) 0;
}

h3 {
  font: 500 18px/22px var(--ff);
  margin: var(--spacer0-3) 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: var(--font);
}

body {
  background-color: var(--secondary-color2);
  overflow-x: hidden;
}

.body-section {
  padding: var(--spacer6) 0;
}

header {
  position: relative;
  color: var(--black);
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.header-background.z-1 {
  transform: rotate(5deg) translateY(-90%) scale(3);
  z-index: -1;
  
  background: linear-gradient(135deg, #1a1a40, #0d0d2b);
}

.personal-info {
  display: flex;
  gap: var(--base-spacer);
  margin: 0 var(--spacer6);
}

.personal-info > img {
  width: var(--large-spacer2-5);
  height: var(--large-spacer2-5);
  border-radius: 50%;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  border: 1px solid var(--secondary-color2);
  padding: 4px;

  /* transform: translateY(-60px); */
}

.personal-info .about-me {
  background-color: var(--white);
  max-width: var(--large-spacer6);
  padding: var(--spacer2);
  border-left: 12px solid var(--secondary-color);
  border-radius: var(--border-radius);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.personal-info .about-me p {
  color: var(--light-gray);
  font: var(--font-large);
}

.personal-info .about-me .social-links {
  display: flex;
  justify-content: end;
  gap: var(--spacer2);
  margin-top: var(--spacer3);
}

.personal-info .about-me .social-links > a {
  transition: all 250ms;
}

.personal-info .about-me .social-links > a:hover {
  transform-origin: center;
  transform: scale(1.2);
}

.personal-info .about-me .social-links > a svg {
  width: var(--spacer2);
}

main {
  color: var(--primary-color);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(400px, auto);
}

.personal-work {
  margin: 0 var(--spacer6);
}

.personal-work .works {
  gap: var(--spacer2);
}

.personal-work .works .project-card {
  background-color: var(--white);
  border-radius: var(--border-radius);
}

.personal-work .works .project-card .project-screenshot {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.personal-work .works .project-card .about-project {
  width: 100%;
  padding: var(--spacer0-5) var(--spacer1-5);
}

.personal-work .works .project-card .about-project .project-description {
  margin-top: var(--base-spacer);
}

.personal-work .works .project-card .about-project .project-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-work .works .project-card .about-project .project-title .project-links {
  display: flex;
  gap: var(--spacer1-5);
}

.personal-work .works .project-card .about-project .project-title .project-links > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.personal-work .works .project-card .about-project .project-title .project-links > a svg {
  width: var(--spacer1-5);
}

footer {
  background: linear-gradient(135deg, #1a1a40, #0d0d2b);
  color: var(--white);
}

.personal-contact {
  display: flex;
  justify-content: space-between;
  margin: 0 var(--spacer6);
}

.personal-contact .contact-me > p {
  margin: var(--base-spacer) 0;
}

.personal-contact .contact-me .contact-info {
  margin-top: var(--spacer4);
}

.personal-contact picture {
  width: 60%;
  border-radius: var(--border-radius);
}

.personal-contact img {
  width: 100%;
  border-radius: var(--border-radius);
}

@media (max-width: 1000px) {
  :root {
    --base-spacer: 8px;
    --font: 400 12px/16px var(--ff);
    --font-large:  400 16px/24px var(--ff);
  }

  .header-background.z-1 {
    transform: translateY(-95%) scale(3);
  }

  h2 {
    font: 500 24px/26px var(--ff);
  }

  h3 {
    font: 500 14px/18px var(--ff);
  }

  .personal-info {
    flex-direction: column;
    align-items: center;
  }

  .personal-info > img {
    width: var(--large-spacer2);
    height: var(--large-spacer2);
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(350px, auto);
  }

  .personal-contact picture {
    width: 40%;
  }
}

@media (max-width: 600px) {
  :root {
    --base-spacer: 8px;
    --font: 400 8px/12px var(--ff);
    --font-large:  400 14px/22px var(--ff);
  }

  .header-background.z-1 {
    transform: translateY(-100%) scale(3);
  }

  h2 {
    font: 500 18px/20px var(--ff);
  }

  h3 {
    font: 500 10px/14px var(--ff);
  }

  .personal-info .about-me h2 {
    text-align: center;
  }

  .personal-info > img {
    width: var(--large-spacer2);
    height: var(--large-spacer2);
  }

  .personal-info .about-me .social-links {
    justify-content: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 90%));
    grid-auto-rows: minmax(200px, auto);
    justify-content: center;
  }

  .personal-contact {
    flex-direction: column;
  }

  .personal-contact picture {
    width: 80%;
    margin-top: var(--spacer2);
  }
  
}